
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}


header {
    background-color: #808080;
    color: #fff;
    padding: 10px;
    text-align: center;
}


#main-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}


#left-column {
    background-color: #00ff00;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}


#right-column {
    background-color: #f34563;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}


footer {
    background-color: #808080;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Hyperlink styles */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


#left-column ul li {
    margin-bottom: 10px;

}


#right-column ol {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}


#right-column ol li {
    margin-bottom: 10px;
}

.image-container {
        width: 200px;
        height: 150px;
        background-image: url('egg.jpg');
        background-size: cover;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    /* Media Query for screens with a maximum width of 768px (smartphones) */
    @media (max-width: 768px) {
        body {
            font-size: 14px; /* Decrease font size for better readability on small screens */
        }

        .image-container {
            width: 100%; /* Make the image container take the full width of the screen */
            height: auto; /* Let the height adjust proportionally */
        }

        #main-container {
            display: flex; /* Change the layout to a flexbox for a single column design */
            flex-direction: column;
        }

        #left-column, #right-column {
            width: 100%; /* Make both columns take full width on small screens */
        }
    }
